// Body
$body-bg: #c5c5be;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #6089aa;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #ad3e3a;
$orange: #e28c35;
$yellow: #d8c624;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #73a6cf;
